<div class="col-xs-12 header">
    <div class="mb-3 col-xs-offset-2">
        <label for="superClaimNum" class="form-label">תביעת על:</label>
        <input type="number" class="form-control" id="superClaimNum" [(ngModel)]="process.superClaim.superClaimNum">
    </div>
    <div class="mb-3 col-xs-offset-5">
        <label for="superClaimStatus" class="form-label">מצב תביעה:</label>
        <select class="form-select form-control" [(ngModel)]="process.superClaim.superClaimStatus.code" aria-label="מצב תביעה" >
            <option *ngFor="let type of superClaimStatus" value="type.code">{{type.value}}</option>
        </select>    </div>
  
    <button class="btn btn-primary col-xs-2" type="submit" (click)="refreshProcess()">ריענון תהליך</button>
</div>


<app-process-info [process]="process" (isValideFormChange)="isValideFormChange($event)" (claimFormChange)="claimFormChange($event)"
[refreshForm]="refreshForm"></app-process-info>
<app-contacts [contactPersons]="process.contactPersons" (addInsuredEvent)="addInsured()" (changeListEvent)="updateContactList($event)"></app-contacts>
<app-contacts-list [contactPersons]="process.contactPersons" (changeListEvent)="updateContactList($event)"></app-contacts-list>

<button  class="btn btn-primary col-xs-2" type="submit" [disabled]="!isValideForm" (click)="continue()">המשך > </button>
